[2019-01-31 15:42] humitos opened #1 "Write documentation"
We need to have at least some small docs for the available configs.

[2019-02-04 18:35] agjohnson opened #2 "Use template instead of context data"
Sphinx already has mechanisms for templating that I think would be more helpful than passing in the html content through a context variable. This should rely on a `4xx.html` or `404.html` (or both), so that the customer has complete control over how the page is rendered, not just the text that is used as part of the body.

[2019-02-04 18:36] agjohnson opened #3 "Add tests"
This needs some tests as well. At very least this should unit test the pathto method that is overridden. Integration tests are handy, but are harder to implement and can wait. See some of the tests inside Sphinx core for best practice here.

[2019-02-04 18:37] agjohnson opened #4 "Use rtfd common linting and formatting"
It sounds like RTD will depend on this. It should be moved into our org and should have our standard linting/formatting tool configuration.

[2019-02-04 21:17] humitos commented on #4
Done at https://github.com/rtfd/sphinx-notfound-page/commit/96a4e5133ec9742276939dfcb24b0229b6b6cee2

[2019-02-04 21:17] #4 closed

[2019-03-19 15:57] banesullivan opened #5 "How do I use this?"
How can I plug this into my existing docs? I `pip` installed this then tried adding it to the `extensions` in my `conf.py`:

[code]

[2019-03-19 16:05] banesullivan commented on #5
Actually, figured it out by looking for the `setup` function in the source:

Add `'notfound.extension'` to the `extensions` in your `conf.py`

[2019-03-19 16:05] #5 closed

[2019-03-20 09:44] humitos commented on #5
Hi! Thanks for posting that you figured it out and the solution.

I'm pending on writing the docs #1

Feel free to open another issue if you need more help.

[2019-03-20 16:54] banesullivan opened #6 "Sidebar links broken"
On some pages, the TOC sidebar links do not work.

For example, go to [this 404 page](http://docs.vtki.org/en/latest/examples/quick/plot-edl.html) (which is an old link to [this example](http://docs.vtki.org/en/latest/examples/quick/plot/plot-edl.html)) in one of my projects now using `sphinx-notfound-page` and try to go to the examples page. Note that only the *Home* link at the top works

![ezgi

[2019-03-20 16:55] banesullivan opened #7 "Custom 404 Page Content?"
Can we add custom text/links to pages people *might* be looking for?

[2019-03-20 19:58] humitos commented on #6
Yes! This is a known issue. Thanks for reporting it.

I invested some time trying to fix it but I wasn't able. I don't know exactly why the links for the sidebar are not using the patched version of the pathto function.

If you have an idea, help on the debugging or even better a PR I'd really appreciate.

[2019-03-20 20:00] humitos commented on #7
Yes, you can define some variables in the conf.py file.

I think it's called "notfound_body" (I'm on the phone now, sorry)

[2019-03-20 22:16] banesullivan commented on #7
Do you have a good way of hosting the webpages locally so that the 404 redirect works? I do this all the time with `mkdocs` but not Sphinx

[2019-03-20 22:16] banesullivan commented on #6
Do you have a good way of hosting the webpages locally so that the 404 redirect works? I do this all the time with mkdocs but not Sphinx

[2019-03-21 11:41] humitos commented on #6
@banesullivan nope, I don't.

I just open them with firefox.

[2019-03-24 13:02] humitos commented on #6
@banesullivan Hi! I just opened a PR for this issue and it seems it solves it properly.
Could you please test your project with this PR https://github.com/rtfd/sphinx-notfound-page/pull/8 and give me some feedback? Thanks!

[2019-03-24 13:04] humitos commented on #7
The config is called `notfound_context`, it's a dictionary and you want to modify the `body` key. Something like this (showing the default)

[code]

[2019-03-24 13:04] #7 closed

[2019-03-24 13:30] humitos opened #9 "Main title link points to default version instead of current one"
Using #8 I found that if you click in the main top-left-title link you go to `/default-language/default-version`. I think this is because of the `pathto` being overriden.

Although, we should find a way to make only that link points to the top level of the current version.

[2019-03-29 15:38] #6 closed

[2019-03-29 16:05] humitos commented on #6
Hi! I just released v0.2 that can be installed from PyPI: https://pypi.org/project/sphinx-notfound-page/ and includes a fix for this problem, creating valid and accurate URLs. Check it out!

[2019-03-31 04:39] banesullivan commented on #6
Awesome work! Thanks so much!

Sorry for the delay - took a week vacation

[2019-03-31 05:00] banesullivan commented on #7
Thanks @humitos!

[2019-04-03 17:55] humitos opened #10 "Using "single version" on Read the Docs makes the links to fail"
Find a way to support a project that has this option set (from Advanced Settings).

![Captura de pantalla_2019-04-03_19-55-25](https://user-images.githubusercontent.com/244656/55501313-714dbf00-564a-11e9-9d8a-27955266f370.png)

[2019-04-03 17:57] humitos opened #11 "Improve default `notfound_context`"
It's needed to add a title, like `Page not found` and a better body.

[2019-04-05 19:06] banesullivan opened #12 "Broken when deployed with GH Pages"
We recently had to migrate the docs for [`vtki`](http://docs.vtki.org) over to GitHub pages from readthedocs because we're now using the [sphinx-gallery](https://sphinx-gallery.github.io) extension to create [an epic examples page](http://docs.vtki.org/examples/index.html)!

Unfortunately, readthedocs can't handle setting up all the dependencies we need to actually run `vtki` (or least it's not cl

[2019-04-05 20:17] humitos commented on #12
Hi!

Yes. This extension was thought to handle 404 on Read the Docs.

There are some small configs where you can define the language and version but I think it will still add something to the URLs.

I can accept a PR that handle this case (outside RTD).

Did you open an issue on RTD? This should not be a problem at first sight.

[2019-04-05 20:36] banesullivan commented on #12
I'll see if I can hack a solution together for this

Either way I think we're going to stick with deploying to GHPages from Travis - the build environment and status reporting is just way better the readthedocs.org

[2019-04-07 00:51] humitos commented on #10
This will be fixed by #13 since we don't need to prefix any of the URLs to support this case.

[2019-04-08 12:52] #10 closed

[2019-04-08 12:52] #12 closed

[2019-04-10 15:10] humitos opened #14 "Links contains `/../section/` on toctree when using notfound_no_urls_prefix"
These links should be `/section/` instead.

See https://github.com/writethedocs/www/pull/864#issuecomment-480902762

[2019-05-19 05:15] banesullivan opened #15 "Tag release for 0.2.1"
Can you tag a release for version 0.2.1 - it looks like this was forgotten after 0137c8e

[2019-05-19 05:16] banesullivan commented on #15
Asking because I have quite a few projects using this AWESOME plugin that have to install from the master branch when building the docs on CI services

[2019-05-19 05:19] banesullivan commented on #15
Oh whoops, I didn't realize 0.2.1 was pushed to PyPI: https://pypi.org/project/sphinx-notfound-page/#history ...I only looked at the tags on GitHub

Its good practice to make sure the Git tags match the deployed releases... also, if you are manually deploying this to PyPI, I could implement a Travis CI script to handle all that for you

[2019-05-20 18:05] humitos commented on #15
I just tagged it.

May I ask where are you using it? I'm interested where and how it's used :)

That could be pretty handy. Although, I don't think it worth your time considering that I'm not deploying too many releases :)

[2019-05-20 18:09] banesullivan commented on #15
Mostly with [PyVista](https://github.com/pyvista/pyvista) - check out this 404 page 😄 : https://docs.pyvista.org/examples/foo

I'm working to get this plugin used with ~10 other projects soon here but in the meantime, check out your dependency graph: https://github.com/rtfd/sphinx-notfound-page/network/dependents

[2019-05-21 09:03] humitos commented on #15
Thanks! I'm closing the issue since the tag is already done.

[2019-05-21 09:03] #15 closed

[2019-05-24 18:48] acozine opened #16 "`/en/latest` prefix still added with `notfound_no_urls_prefix = True` set"
@humitos @banesullivan thank you for writing a plugin for custom 404 pages in sphinx. We'd like to use it in our documentation.

Our docs URLs look like `https://docs.ourdomain.com/project_name/version_name/page.html`. I added the `notfound-page` extension and set `notfound_no_urls_prefix = True` in my Sphinx `conf.py`,  but in the html output (`404.html`) I still see paths with the default `en/la

[2019-05-24 18:51] banesullivan commented on #16
Thanks for reporting your issue! Is this project open-source where I could look at the way the docs are set up for further insight?

[2019-05-24 18:54] acozine commented on #16
@banesullivan thanks for the quick response! Here's the branch where I'm trying to use `sphinx-notfound-page`: https://github.com/acozine/ansible/tree/custom-404

[2019-05-24 18:56] acozine commented on #16
and yeah, it's open-source

[2019-05-24 19:01] banesullivan commented on #16
Just to make sure, you are using the latest release of this package, right? Perhaps try installing from the master branch to confirm?

`pip install git+git://github.com/rtfd/sphinx-notfound-page@master`

[2019-05-24 19:05] acozine commented on #16
I'll try pip install from git, but for now:
[code]

[2019-05-24 19:11] acozine commented on #16
Heading out for the long weekend. I'll pick this up next week. @banesullivan if you're open to looking at this in real time, ping me on the #ansible-docs channel on freenode IRC, Tuesday or after.

[2019-05-25 10:48] humitos commented on #16
@acozine I think @banesullivan is right. You may not be installing the version from the git repository but from PyPI (where the latest version released does not include the config option that you need).

Try doing `pip uninstall sphinx-notfound-page` and then `pip install git+...`. It should work.

Let me know otherwise.

[2019-05-25 10:50] humitos opened #17 "Add license to PyPI package"
When running this command, it should show the proper license.

[code]

[2019-05-25 12:32] humitos commented on #1
Closed by https://github.com/rtfd/sphinx-notfound-page/commit/2ed3ac990fa192c2cba157c89782a9e25c2f2640

[2019-05-25 12:32] #1 closed

[2019-05-25 12:44] humitos commented on #1
Documentation is at https://sphinx-notfound-page.readthedocs.io/

[2019-05-25 12:57] humitos commented on #16
I just released the version 0.3 that includes this feature and I created better docs for this project.

You should be able to install it from pip now using the `pip install -U sphinx-notfound-page` now.

[2019-05-25 15:15] humitos commented on #3
Closed by https://github.com/rtfd/sphinx-notfound-page/commit/be8d52e

[2019-05-25 15:15] #3 closed

[2019-05-27 15:25] humitos commented on #11
Closed by https://github.com/rtfd/sphinx-notfound-page/commit/d9c459b

[2019-05-27 15:25] #11 closed

[2019-05-27 15:56] humitos commented on #2
@agjohnson it's not clear to me if you are thinking about using a file `404.rst` or just allowing the user to use a different template? If it's the later, you can customize this by defining `notfound_template` (I just added a test for this at https://github.com/rtfd/sphinx-notfound-page/commit/81ee85b)

Another possibility is to render a `404.rst` instead. Actually, if the user already has this fi

[2019-05-27 16:17] humitos commented on #2
This is done at https://github.com/rtfd/sphinx-notfound-page/commit/2a22e7f

I'm closing this issue. Feel free to reopen if you consider that the case that I'm covering here are not enough or are not what you meant in the original description.

[2019-05-27 16:17] #2 closed

[2019-05-28 17:56] acozine commented on #16
Confirmed that the 0.3 release fixed my problem. Thanks @humitos @banesullivan.

[2019-05-28 17:56] #16 closed

[2019-05-29 14:59] acozine opened #25 "Toctree links always use default language and version"
The `notfound_default_language` and `notfound_default_version` settings are not getting picked up everywhere when the 404 page gets built. When I build a custom 404 page with:

[code]

the stylesheets load correctly for pages at any level of the filetree (hooray!). However, the links in the left navigation still use `/en/latest`. For example:

[code]

So if you click on any link from the TOC on th

[2019-05-29 15:24] humitos opened #26 "Js URLs added by Sphinx are not fixed"
If you see the source code of, https://sphinx-notfound-page.readthedocs.io/not/found/page.html you will see this:

[code]

These files are added by Sphinx itself at

https://github.com/sphinx-doc/sphinx/blob/eb76799a89e7517fc28149046bfa358a2b1672d0/sphinx/builders/html.py#L304-L307

and they are rendered in the template at

https://github.com/sphinx-doc/sphinx/blob/eb76799a89e7517fc28149046bfa358a

[2019-05-29 15:30] stsewd opened #27 "Replace default lang and default version for prefix"
I haven't read the code for the actual implementation, but feels like too specific to have `notfound_default_language` and `notfound_default_version` . Those can be replaced by `notfound_default_prefix`. And this would remove `notfound_no_urls_prefix`, because we can just set `notfound_default_prefix = ''`

Also, we are not in 1.0 yet, so we could break the api, or maybe we can just mark them as d

[2019-05-29 16:55] humitos commented on #25
@acozine what version are you using? I think that 0.3 does not have this problem. Can you confirm please?

[2019-05-29 18:45] acozine commented on #25
@humitos:

[code]

[2019-05-29 18:55] humitos commented on #25
I can't reproduce your issue.

I will need you to share a project where this is failing and the steps you are following to reproduce it on my own.

[2019-05-29 19:06] humitos commented on #27
You are probably right.

Although, my original idea for these setting was to get them automatically from READTHEDOCS_VERSION environment variable and `app.language`.

I think it's a good thing to consider. Like,

1. if building under Read the Docs use `/lang/version/` unless `no_urls_prefix=True` (single version project) or `default_prefix` is set
1. if building outside Read the Docs, just use `de

[2019-05-29 20:23] acozine commented on #25
Hm. Maybe it's to do with our config, or the version of Sphinx we're using?
Here are the steps to reproduce:
1. Clone https://github.com/acozine/ansible
2. Checkout the `custom-404` branch
3. Run `MODULES=none make webdocs`
4. Look at the source for `docs/docsite/_build/html/404.html`.

[2019-05-29 20:29] acozine commented on #25
You can also look at the 404 content on our test site - see http://docs.testing.ansible.com/ansible/2.9/dev_guide/index2.html.

[2019-05-29 22:47] humitos commented on #25
This is definitely a bug.

The problem is at this chunk

https://github.com/rtfd/sphinx-notfound-page/blob/4ec09ad5609fd435730cf457c84c6018c9a6b955/notfound/extension.py#L110-L114

Instead of using `app.config.language` and `READTHEDOCS_VERSION` environment variable it should use the configs from this extension.

Thanks for your report. I will try to fix it soon and make a new release.

[2019-05-30 17:18] #17 closed

[2019-05-31 16:31] acozine commented on #25
Thanks @humitos for the confirmation and for the PR to fix the issue!

[2019-06-04 07:59] #26 closed

[2019-06-04 08:11] #14 closed

[2019-06-04 08:25] humitos opened #35 "Make each test case to be independent"
Unfortunately, `sphinx.Application` does not support `outdir` attribute to pass a temporal file. Currently, each test is sharing the same output directory and this is not good.

It's not a problem (yet), since the file that we are testing is re-written completely, but files that are not used in the current test are not deleted. This could bring some issues hard to find in the future.

[2019-06-04 08:36] #25 closed

[2019-06-04 08:38] humitos opened #36 "Add badges to the docs homepage and README file"
We want to add PyPI, Travis, Docs, and other budgets that we consider useful.

[2019-06-04 10:36] humitos commented on #35
This may be achieved with `freshenv=True` in the `pytest.mark.sphinx` decorator.

[2019-06-04 14:28] acozine commented on #25
@humitos thanks for merging those PRs! Unfortunately I'm still seeing this issue after reinstalling `sphinx-notfound-page` just now, using the command `pip install --user git+git://github.com/rtfd/sphinx-notfound-page@master`. When I do `pip show sphinx-notfound-page` I get `Version: 0.3.dev0`. Is this running the tip of the master branch? Do I need to wait until you release 0.4?

[2019-06-04 14:42] humitos commented on #25
@acozine try running,

    pip install --force-reinstall --user git+git://github.com/rtfd/sphinx-notfound-page@master

and let me know.

If that does not work, uninstall it first, with `pip uninstall sphinx-notfound-page`.

[2019-06-04 14:50] humitos commented on #25
With the `--force-reinstall` and following the steps you mentioned from https://github.com/rtfd/sphinx-notfound-page/issues/25#issuecomment-497095195 I can see the proper links generated. Example

    <li class="toctree-l1"><a class="reference internal" href="/ansible/2.9/reference_appendices/faq.html">Frequently Asked Questions</a></li>

Let me know if anything.

[2019-06-04 14:58] acozine commented on #25
I believe you, but I can't make it work on my laptop. What am I doing wrong? Here's what I tried:

Fresh install of the module:
[code]
Confirmed the _build directory is empty:
[code]
Fresh build:
[code]
And yet I still see links with `en/latest` in them in `docs/docsite/_build/html/404.html`:
`<li class="toctree-l1"><a class="reference internal" href="/en/latest/reference_appendices/faq.html">Freq

[2019-06-04 19:36] acozine commented on #25
Update: Downgrading to Sphinx 1.x solved this problem. Thanks @humitos for all your help!

[2019-06-05 08:50] humitos commented on #25
Thanks for reporting back!

This is weird. I'm running tests in Sphinx 2.x and they passed. I suppose it should be something else from your environment.

(I suspects that you mixed pip environment using `--user` and not using it and the packages ended installed in the system vs. per user or something like that).

I'm glad it worked for you, though! Feel free to open another issue if you have any o

[2019-06-05 15:05] humitos opened #39 "Configuration docs page could be better"
Our configuration page is good, https://sphinx-notfound-page.readthedocs.io/en/latest/configuration.html but when I did it I wanted it to look exactly like this one: https://sphinx-autoapi.readthedocs.io/en/latest/reference/config.html#confval-autoapi_type

That way is easy to identify the setting immediately but also to use permalinks on them.

[2019-06-05 16:47] acozine opened #41 "Clarify: is extension safe for parallel reading?"
When I run `make webdocs` I see this warning:

[code]

Python version: 3.7.3
Sphinx version: 1.7.9

[2019-06-05 17:00] acozine opened #42 "Image path points to wrong directory"
I'm having trouble including an image in my custom 404 page. If I add an image as `docs/docsite/rst/images/foo.png` and a custom 404 file `docs/docsite/rst/404.rst` that looks like this:

[code]

then build the docsite with config settings in the conf.py that look like this:

[code]

The 404 page gets built, the stylesheets and all toctree links load correctly for pages at any level of the filetre

[2019-06-05 17:09] stsewd commented on #42
Can you share your full `conf.py` file?

[2019-06-05 17:11] acozine commented on #42
@stsewd thanks for the quick reply! The conf.py on this branch is at https://github.com/acozine/ansible/blob/custom-404/docs/docsite/rst/conf.py.

[2019-06-05 17:11] stsewd commented on #42
Also, can you try installing the extension from master? (I think there was a fix for this)

[2019-06-05 17:28] acozine commented on #42
Hm. when I do `pip install --force-reinstall --user git+git://github.com/rtfd/sphinx-notfound-page@master` it re-installs Sphinx 2.x again, and if I try to build with that version, I get:
[code]
With Sphinx 1.7.9 I see the behavior described above. The `src` tag for our logo gets the correct path `/foo/1.0/_static/images` but the `src` for the 404 image gets `/foo/1.0/images/`.

[2019-06-05 17:38] humitos commented on #42
If you disable the extension, what's the src resulting in the output page? Does the image load properly?

[2019-06-05 19:19] acozine commented on #42
Oh, interesting. If I disable the extension, the image is placed in `_images` and the `src` points to it there.  The other images under the `docs/docsite/rst` tree are there as well.

We also have images in the `_static/images` folder - those come from our sphinx theme (`docs/docsite/_themes/sphinx_rtd_theme/static/images`).

[2019-06-05 20:10] acozine commented on #41
This is a blocker for us, as our CI system fails on any Sphinx warning.

[2019-06-05 20:21] humitos commented on #42
I'm not sure to follow you.

Can you paste what's the HTML tag generated for the image with the extension enabled and what's with it disabled?

[2019-06-07 08:53] #41 closed

[2019-06-07 09:13] humitos commented on #42
I was able to reproduce the issue by myself. I created a PR with the example not working at #46 and I will continue the work for the fix there. Thanks for reporting it!

[2019-06-07 12:50] humitos opened #48 "autoapi subtitle looks wrong"
I'm not sure what I'm doing wrong with `sphinx-autoapi` but the subtitle looks weird and needs to be fixed.

![Screenshot_2019-06-07_14-49-03](https://user-images.githubusercontent.com/244656/59105116-8210fe80-8933-11e9-8f77-422f4f53216f.png)

I suppose the "Create a 404.html page" should be at the same level that the paragraph and maybe in bold. Also, "404.html" should be rendered as code.

The p

[2019-06-07 16:29] acozine commented on #39
The look of the configuration page was updated by #45. It's also now possible to link to individual settings like [notfound_pagename](https://sphinx-notfound-page.readthedocs.io/en/latest/configuration.html#confval-notfound_pagename). Are there other requirements for this issue?

[2019-06-07 16:32] humitos commented on #39
No, your work was amazing! :)

I thought this issue would close automatically but it didn't. Closing now.

Thanks again.

[2019-06-07 16:32] #39 closed

[2019-06-07 21:02] acozine commented on #48
I looked at the [code that generates this docstring](https://github.com/rtfd/sphinx-notfound-page/blob/7276e3809209e1d6819f83065558bc5f3ba718a5/notfound/extension.py#L19). I don't see anything obvious wrong with it, but I see that line 19 is being exported in the same style as the heading. It's weird. I tried adding an extra blank line between the `"""` and line 19, but that didn't fix this issue.

[2019-06-10 10:45] humitos commented on #48
This is an example of a project using `autoapi`: https://modelbase.readthedocs.io/en/latest/autoapi/modelbase/index.html

It may be a problem of the theme or the `autoapi` itself, but it needs further research to understand the reason.

[2019-06-11 09:28] #42 closed

[2019-06-11 23:54] acozine commented on #36
@humitos not sure if #55 closes this or not . . . your call.

[2019-06-12 10:13] humitos commented on #36
@acozine do you know why the build badge says "Unknown" but the repo tick is green?

What do you think about adding the same badges in the index file of the docs? #36

[2019-06-12 13:59] acozine commented on #36
@humitos if you look at the Travis page itself, the badge there also says "Unknown" in the top banner - that is, the individual build says "Passing" but the overall status of the project above is still "Unknown". I think you may need to change a Travis setting (which I can't access). See the second answer on https://stackoverflow.com/questions/12030304/why-is-my-travis-ci-build-status-always-refle

[2019-06-12 14:01] acozine commented on #36
Meanwhile I'll see what I can do about adding badges to the docs page.

[2019-06-12 15:15] acozine commented on #36
@humitos looks like Travis is running tests but not "builds": https://travis-ci.org/rtfd/sphinx-notfound-page/builds. This closed issue may have relevant information: https://github.com/travis-ci/travis-ci/issues/6932

[2019-06-12 15:18] stsewd commented on #36
Guessing something happened when the repo was moved or the privacy was changed?

[2019-06-12 17:51] humitos commented on #36
Hrm... I went to the Build History tab in Travis and trigger one manually. Now it shows the proper badge. I also setup a daily build on `master`. Let's see what happen :man_shrugging:

[2019-06-12 18:50] #36 closed

[2019-06-17 08:08] #35 closed

[2019-06-19 08:14] bytekeks opened #63 "404.rst is built but not used"
A custom 404.rst is put next to the other pages. The 404.html is generated but not used.

A dead link displays the default 404 page from the extensions config. "Page not found - thanks for trying".

Did I miss something?

Conf.py:

[code]
Thank you :)

[2019-06-19 10:57] humitos commented on #48
Closing because it's an upstream bug: https://github.com/rtfd/sphinx-autoapi/pull/165

[2019-06-19 10:57] #48 closed

[2019-06-19 10:59] humitos commented on #63
What does this mean?

I'm not sure to understand your problem/request. Can you elaborate?

[2019-06-19 11:01] humitos opened #64 "Add `:orphan:` to the default 404 page generated."
If the extension is used without any configuration, a `404.rst` page is created but since it does not has `:orphan:` on it, Sphinx will raise a WARNING saying that it's not included in the toctree.

Let's figure out how to disable this warning when using the default configs.

[2019-06-19 19:36] ericholscher commented on #64
Makes sense. 👍

[2019-06-20 17:42] humitos opened #65 "Environment variable tests"
We can use lazy fixtures for pytest, or parametrized fixtures to first set the environment variable and the second fixture makes the build.

There is a test commented out about this problem.

[2019-06-21 17:41] bytekeks commented on #63
I'm doing `sphinx-build` and the 404.html is created in the `build/` dir.

This is the project: [Uberspace/lab - 404.rst](https://github.com/Uberspace/lab/blob/master/source/404.rst)

It is deployed on netlify (but I think the hosting provider is not the problem).
Please see the [deployed 404 page](https://lab.uberspace.de/404.html).
It displays the default 404 page content from the extension.

I

[2019-06-22 16:24] humitos commented on #63
Hi! I do see the custom page served at a non existing URL. For example, https://lab.uberspace.de/page/not/found.html

I think that you are saying that you are trying to use a custom `404.rst` file, but instead the default content is shown when accessed the page. If so, what version of the extension are you using? Please, try upgrading to the latest release and try again.

[2019-06-24 18:20] #64 closed

[2019-07-12 02:37] acozine commented on #63
@bytekeks depending on where you are hosting your documentation, generating a 404 page may not be enought. You may also need to configure your webserver. For example, if you are using apache, you need an [ErrorDocument directive] (https://httpd.apache.org/docs/2.4/custom-error.html) to tell the server to return a specific page when it received a 404 error:
`ErrorDocument 404 /404.html`
See also [t

[2019-07-17 10:05] humitos commented on #63
Feel free to re-open if you consider this is still valid. Thanks!

[2019-07-17 10:05] #63 closed

[2019-10-16 15:23] #65 closed

[2019-10-18 08:46] EDI-N opened #79 "Something with css and links from 404 page"
I think I done everything like in manual, but my 404 page isn't pretty and links go to nothing... can you help me?
Pages:
https://docsclone3.readthedocs.io/uk/latest/

[2019-10-18 12:43] humitos commented on #79
Hi! You don't need to setup this option `notfound_no_urls_prefix = True`: https://github.com/EDI-N/DocsClone3/blob/master/docs/conf.py#L399

Also, you will probably need to define the default language as `uk`.

Please, try these and let me know. Thanks!

[2019-10-18 13:26] EDI-N commented on #79
Thank you so much, your advice helped! It seemed that I had already tried it, but a correctly set language changes everything!

[2019-10-18 13:26] #79 closed

[2019-10-26 12:46] rdb opened #80 "Prepend version but not language"
Thank you for developing this extension!

It appears, however, that I can choose to omit only the combination of default language and version, but not either one.

My sphinx setup has just a version prefix.  I currently have to set the default language to `'.'` to get a sensible result.  It would be great if I could just set it to `None` (or just specify the whole prefix myself, as in #27, perhaps

[2020-04-03 21:16] humitos opened #84 "Typlog theme seems to be not compatible with notfound extension"
[code]

Theme URL: https://sphinx-typlog-theme.readthedocs.io/

[2020-04-10 23:41] humitos opened #87 "Exclude 404 page from search"
`:nosearch:` is a new metadata allowed in Sphinx 3.0

https://www.sphinx-doc.org/en/master/usage/restructuredtext/field-lists.html#metadata

[2020-04-11 19:43] humitos commented on #80
Thanks for your suggestion!

This will broadly wanted once Read the Docs implements this issue https://github.com/readthedocs/readthedocs.org/issues/6868

[2020-04-13 15:23] #87 closed

[2020-05-21 19:47] ScriptAutomate opened #92 "Update pypi with New Release"
The last release of this plugin was:

- Version 0.4
- Date: **June 11th, 2019**
- pypi: https://pypi.org/project/sphinx-notfound-page/

Though, this plugin has received many updates over the past year. Can we get a new release in pypi, and perhaps automation in place that can push new versions to pypi?

[2020-06-03 18:20] jdillard opened #95 "Mention that simple local webservers often don't handle 404s by default"
I don't know if it is worth mentioning in the docs somewhere, but `http.server` (and other simple webservers I'm sure) don't have a default handler for 404 codes, so people might run into issues when attempting to test out the extension locally.

I also don't know if the docs would need to go this far, but here is an example of adding a custom request handler for 404 codes:  https://stackoverflow.

[2020-06-04 09:03] humitos commented on #95
Hi! Thanks for sharing this. It's interesting that you can add the handler to make it work locally without too much code.

I don't think the documentation needs to go too deep on this, but maybe worth to mention it in the FAQ. We do have a warning note saying that `404.html` won't work properly locally: https://sphinx-notfound-page.readthedocs.io/en/latest/installation.html

Maybe we can link to a

[2020-06-04 17:25] jdillard commented on #95
Doh, I did a bad job of putting on my "new user" hat and somehow clicked on every page but installation. If I had to guess, it was because the installation is pretty much documented in the README as well, so I decided to skip that page thinking I had already read that content. (For backstory, I happened to see someone else using the extension get confused by the lack of a 404, so I was attempting

[2020-07-09 01:32] Daltz333 commented on #92
I would also like this, as this fixes a warning in Sphinx 3.0.0

[2020-07-23 16:28] #95 closed

[2020-07-23 16:29] #27 closed

[2020-07-23 16:29] #80 closed

[2020-07-27 09:50] #92 closed

[2020-07-30 15:41] humitos opened #101 "Add path of the not found URL into the link to search related terms"
If you go to this page

https://stellargraph.readthedocs.io/en/stable/demos%20page

you will see a 404 page with a link to quickly search "demos page",

https://stellargraph.readthedocs.io/en/stable/search.html?q=demos%2020page

It links to the regular search addin `q=demos page`.

[2020-09-30 15:00] rscohn2 opened #111 "parallel read error"
Parallel builds get an error:

[code]

The test doc has an index and 5 files which only have titles:

[code]
The problem is [here](https://github.com/readthedocs/sphinx-notfound-page/blob/master/notfound/extension.py#L178). I don't understand the issue, maybe it is a bug in sphinx.

The problem can avoided by declaring that the extension is not parallel read safe [here](https://github.com/readthed

[2020-10-01 07:02] humitos commented on #111
Thanks for reporting this. I don't have too much experience with parallel reading so I will need some time to research a little more about this.

Why do you think the problem is there, in the code that adds `:orphan:` to the 404 page?

[2020-10-01 12:55] rscohn2 commented on #111
We are continuing the discussion in #112

[2020-10-01 14:01] #111 closed

[2020-10-04 16:03] melaniewalsh opened #114 "Error: 404 file "does not start with" the right directory"
I'm trying to add a 404 page to my [Jupyter Book](https://github.com/executablebooks/jupyter-book), which uses Sphinx to build the book and allows you to [add your own Sphinx extensions](https://jupyterbook.org/customize/config.html#advance-configuration-with-sphinx).

But I'm getting the following error when I try to build my Jupyter Book with the notfound.extension:

[code]
The file path `/Volum

[2020-10-05 09:34] humitos commented on #114
Hi @melaniewalsh! Thanks for your report. I don't have experience with Jupyter Book, so I will need more debugging information to be useful here :smile:

* Can you show me the file where the configuration of `notfound` extension lives?
* Can you share the steps to reproduce the issue by myself? (e.g. clone this repo, install these dependencies, run this command, checkout the output)

Thanks!

[2020-10-05 18:14] melaniewalsh commented on #114
Thanks so much for following up, @humitos! I actually think this extension would be a great addition to the Jupyter Book project.

In my repo, the `notfound` extension would live in this [`book/config.yml` file](https://github.com/melaniewalsh/Intro-Cultural-Analytics/blob/635751babd3ed26cc4aee91bb0319a2b31c581e4/book/_config.yml#L78), which gets converted into a Sphinx config file by Jupyter Book

[2020-10-06 10:20] humitos commented on #114
Thanks for your comment. Super well explained! :heart:

It seems there is a mistake in the filename here. It should be `mybookname/_config.yml` (note the `_`). Otherwise, it does not pick the configurations. Changing this, I was able to reproduce the issue. Now, time to debug :hocho: :bug: :hocho:

[2020-10-06 10:36] humitos commented on #114
I'm not sure that this issue is a problem in `sphinx-notfound-page` extension yet. It seems to me to be a problem in `sphinx-book-theme` in the function [`find_url_relative_to_root`](https://github.com/executablebooks/sphinx-book-theme/blob/master/sphinx_book_theme/__init__.py#L78)

I put a pdb there and I found that this function is called with these arguments:

[code]

I don't understand why 404

[2020-10-21 15:11] chrisjsewell opened #117 "CSS/JS loading blocked"
Heya, I've just tried adding this extension to our site, but loading the page you get a load of:

[code]

See e.g. https://aiida.readthedocs.io/projects/aiida-core/en/latest/intro/get_startedx.html

![image](https://user-images.githubusercontent.com/2997570/96739733-64292a00-13c0-11eb-9741-38fee312c22a.png)

is this something that I have done wrong?

[2020-10-21 15:28] chrisjsewell commented on #117
Ah I've just noticed that out "base" URL is now https://aiida.readthedocs.io/projects/aiida-core/en/latest/; its got this extra `projects/aiida-core` part which I guess I need to add to `notfound_urls_prefix`

[2020-10-21 16:09] chrisjsewell commented on #117
yeh that fixed it

[2020-10-21 16:09] #117 closed

[2020-10-27 18:50] humitos commented on #117
Ups... I just saw this issue. Happy that you find out the solution already! :)

[2021-01-13 14:22] stratakis opened #126 "Fails to build with Sphinx 3.4.3"
Hello,

On Fedora we are testing the dependants of Sphinx whenever we update to a new version, and it seems that sphinx-notfound-page fails to build with this error message:

[code]

[2021-01-13 18:27] humitos commented on #126
Thanks for reporting this. We are not running tests on 3.4.x yet. I'll open a PR for this and try to fix the issue

[2021-01-18 10:36] #126 closed

[2021-02-05 20:29] Calinou opened #134 "Disabling prefix leads to "WARNING: The config value `notfound_urls_prefix' has type `NoneType', defaults to `str'.""
**Python version:** 3.9.0
**Sphinx version:** 1.8.5
**sphinx-notfound-page version:** 0.6

Here's the relevant part of my `conf.py`:

[code]

I've been able to avoid this by setting the value to `''` (empty string) instead, but the documentation doesn't mention this. I guess we should just update the documentation to reflect this?

[2021-02-08 10:44] humitos commented on #134
Thanks for reporting this. I think we need to modify our code where we defined the setting, https://github.com/rtfd/sphinx-notfound-page/blob/f30850e4a648e4490824499671f72522e41c66fa/notfound/extension.py#L270-L276, to accept `None` as well using `type=[str, None]` probably following https://www.sphinx-doc.org/en/master/extdev/appapi.html#sphinx.application.Sphinx.add_config_value

[2021-02-23 10:45] humitos opened #138 "Tests: re-add tests for minor version of Sphinx"
When we migrated to Circle CI in https://github.com/readthedocs/sphinx-notfound-page/pull/130 we removed tests for different Sphinx minor versions and we are only testing the latest on major ones. However, Sphinx has break compatibility between minor versions and there are things that work different. Example https://github.com/rtfd/sphinx-notfound-page/blob/f30850e4a648e4490824499671f72522e41c66fa

[2021-04-07 07:30] daleeidd opened #145 "How to replace Maze Page in all instances?"
https://sphinx-notfound-page.readthedocs.io/hello

How does one get the 404 page to work like it does for the above?

This works as expected:

https://crest.readthedocs.io/en/latest/hello

But the following doesn't:

https://crest.readthedocs.io/hello

[2021-04-12 07:17] daleeidd commented on #145
This is due to the RTDs 404 page resolution. The 404 page exists in latest only, but the default version is stable. So RTDs cannot find it. I'll close this as it is unrelated to this extension.

[2021-04-12 07:17] #145 closed

[2021-04-18 14:53] greyli opened #148 "Rendering the 404 page causes AttributeError: 'Sphinx' object has no attribute 'get_target_uri'"
Hi, I tried to add sphinx-notfound-page (Version 0.6 or master) for Flask (with [Pallets Sphinx Themes](https://github.com/pallets/pallets-sphinx-themes)).

with the following conf:
[code]

then the build failed:
[code]

The error related to [this line](https://github.com/pallets/pallets-sphinx-themes/blob/master/src/pallets_sphinx_themes/versions.py#L134) in Pallets Sphinx Theme. I'm not quite su

[2021-04-19 18:01] humitos commented on #148
Hi! Thanks for opening this issue.

I took a quick look at this and it seems that for some reason `builder` variable at the line you linked is a Sphinx `sphinx.application.Sphinx` instead of a Sphinx HTML builder (e.g. `sphinx.builders.html.StandaloneHTMLBuilder`).

I don't know too much about how the theme works, but I'd say that this line https://github.com/pallets/pallets-sphinx-themes/blob/mas

[2021-08-22 19:31] Atlinx opened #167 "Resources are not loaded for the 404 page, leading to plain html page."
Hey all, I'm trying to copy [Godot's sphinx setup](https://github.com/godotengine/godot-docs) and I'm using GitHub pages to host my docs. The 404 page loads successfully but it's a plain HTML page. Does anyone know what's causing this?

![Untitled](https://user-images.githubusercontent.com/25368491/130367603-19e6f6e1-cdf5-4841-9f93-7def1ae16e28.png)

Parts of my config file related to this extensi

[2021-08-23 10:41] humitos commented on #167
Does it works if you use `None` for `notfound_urls_prefix` instead? See https://sphinx-notfound-page.readthedocs.io/en/latest/faq.html#does-this-extension-work-with-github-pages

What's the URL of your project?

[2021-08-23 12:25] Atlinx commented on #167
I've tried using None and that didn't work either. Here's the [link to my repo](https://github.com/Fractural/FracturalVNEDocs) and here's the link to the [GitHub pages site](https://fractural.github.io/FracturalVNEDocs/404.html). Interestingly, this only seems to happen on GitHub pages -- I've launched a readthedocs version of my docs and the 404 page works.

[2021-08-23 13:18] humitos commented on #167
Hi @Atlinx! This is because you are not using a custom domain for your GitHub page, so you need `FracturalVNEDocs/` as prefix. If you add that prefix it will work. Please, let me know.

If it works, feel free to send a PR updating the FAQ to mention this.

[2021-08-23 13:36] Atlinx commented on #167
@humitos It looks like using the `FracturalVNEDocs/` doesn't work either. I've updated the repo and now it's using the plain 404 page as the default home page.

[2021-08-23 13:40] Atlinx commented on #167
Whoops! I forgot to add a starting "/" on my prefix as specified by your documentation. It all works now, thanks!

[2021-08-23 13:41] #167 closed

[2021-09-01 14:57] JamesRandom opened #171 "Problem with sub-projects"
I have a problem using the extension with sub-projects on readthedocs, and _versioned_ sub-projects in particular.

For example, it partly works with “latest”: https://docs.graphcore.ai/projects/available-memory/en/latest/xyz.html
The images and styles are present (because they are picked up from the root project).
But the navigation links don’t work (they go to the root project and hence the root

[2021-09-01 15:41] humitos commented on #171
This is definitely not great 😄 However, I'm not sure how the sphinx-notfound-page extension could help here. It needs to know the URL path where it will be served to hardcode the links and resources.

There should be a hacky way to solve this with and embed Javascript in the extension, I suppose. It could parse the full URL as `{domain}/projects/{alias}/{language}/{version}` (e.g. https://docs.gra

[2021-09-01 15:50] JamesRandom commented on #171
Thanks I hadn't seen that issue on Read the Docs.

I can see the problem with the general case. I wonder if would be possible for the sphinx-notfound-page extension to be configured to always go to the 404 page for the root project — that would suit me (all the subproject are set up with identical 404 pages, anyway).

[2021-10-29 03:48] Daltz333 opened #180 "Logo/favicon is broken since Sphinx 4.1.1"
This is the offending commit:
https://github.com/sphinx-doc/sphinx/commit/3a50abc5c97489734adbda0e8cc0a343735eb958#diff-be839d87d39d93093003a0a4ce40cf9610d0a9445e5e0aeb1cdc6bab527bfbbc

The extension no longer generations the absolute URLs for favicon and logo, so they are broken on Sphinx 4.1.1+ 404 pages.

[2021-11-03 11:56] humitos commented on #180
Hi @Daltz333! I opened a new PR that adds more Python and Sphinx versions to test at #181. It seems that all tests are passing without issues and it seems that we have a test for the logo URL at https://github.com/rtfd/sphinx-notfound-page/blob/e82a711fd469dc6af497938e0ee3a13862c324a0/tests/test_urls.py#L66

Could you point me to the specific logo/favicon URL that you are saying it's broken and ho

[2021-11-03 12:57] Daltz333 commented on #180
https://docs.wpilib.org/en/latest/docs/zero-to-robot/step-1/inde

[2021-11-03 15:45] humitos commented on #180
I found the exact commit and file change that produced this problem: https://github.com/sphinx-doc/sphinx/commit/65a69965a1dba7e8f61caf53d3d8a9251eab4e19#diff-be839d87d39d93093003a0a4ce40cf9610d0a9445e5e0aeb1cdc6bab527bfbbc

It's using `pathto` from the context, which is the one that we are overriding. I suppose that their event is called _before_ ours and that's why it's not working. I will keep

[2021-11-03 15:53] humitos commented on #180
@Daltz333 I opened #182 with a fix for this. Can you give it a try please and let me know if it works for your project?

[2021-11-08 02:42] greyli commented on #148
I'm not familiar with the Sphinx theme either...

Hey @davidism, could you explain what [this line](https://github.com/pallets/pallets-sphinx-themes/blob/main/src/pallets_sphinx_themes/versions.py#L132) does?

[2021-11-08 03:32] davidism commented on #148
It's been a long time since I looked at this code.

That function is called from the Jinja template to generate a URL to a different version of the docs. In order to generate a URL, I need to call a method on the Sphinx `builder` object, but that's not available in the Jinja render context. However, the `pathto` function, which is defined as an inner function of the `buider.handle_page` method, is

[2021-11-09 03:15] TheTripleV commented on #180
It does work with that PR.
https://frc-docs--1512.org.readthedocs.build/en/1512/docs/zero-to-robot/step-1/inde

[2021-11-09 10:37] #180 closed

[2021-11-09 10:50] humitos commented on #180
I released version 0.8, please let me know if everything works as expected. Thanks!

[2022-05-09 13:09] angelinekwan opened #195 "Setting configuration in conf.py"
Is this the right way of setting the [Configuration options](https://sphinx-notfound-page.readthedocs.io/en/latest/configuration.html) in conf.py. I don't seems to get it working. As all my static assets are still pointing to default -` /en/latest/`

[code]

Thanks in advance.

[2022-05-09 13:25] angelinekwan commented on #195
Found the right syntax is just
`notfound_urls_prefix = None`

[2022-05-09 13:25] #195 closed

[2022-05-09 14:53] angelinekwan opened #196 "Could not import extension notfound.extension (exception: No module named 'notfound')"
It works locally following by
1) Installation `pip3 install sphinx-notfound-page`
2) Add this extension in the conf.py file as:
[code]
3) Add configuration
`notfound_urls_prefix = None`

But when build in Netlify - Sphinx / prose it returns error as following:

[code]

**Environment info**
Python VENV
Python 3.9.12
Sphinx build version sphinx-build 4.3.2

Any advice? Thanks in advance.

[2022-05-09 17:05] humitos commented on #196
Hi! It seems you need to install the Sphinx extensions on the environment running on Netlify as well. I do not have experience with it. So, I'm not sure I'll be able to provide too much help there.

If you figure it out, please share the answer here.

[2022-05-09 17:22] humitos commented on #195
Happy you figured it out! 👍🏼

[2022-05-10 08:51] angelinekwan commented on #196
Like you mentioned, the extensions need to be added to the environment. In this case, add the extension to `requirements.txt`
`sphinx-notfound-page==0.8`

Thanks for checking!

[2022-05-10 08:51] #196 closed, assigned to nobody

[2022-06-23 15:59] humitos commented on #114
This is already solved. See https://github.com/executablebooks/sphinx-book-theme/issues/227#issuecomment-909625773

[2022-06-23 16:03] humitos opened #198 "Packaging: follow the same pattern than in `sphinx-hoverxref`"
I liked the pattern implemented in `sphinx-hoverxref` and I'm happy to follow it here as well.

See https://github.com/readthedocs/sphinx-hoverxref/pull/186

[2022-06-23 16:05] humitos commented on #198
Together with this work, we can remove the `common/` submodule which is not being used at all here.

[2022-07-13 09:19] humitos commented on #198
Done in #201

[2022-07-13 09:19] #198 closed

[2022-07-13 09:21] humitos opened #206 "Handle absolute URLs"
Should the extension re-write absolute URLs included in the resulting `404.html` or should it leave them as-is?

See https://github.com/readthedocs/sphinx-notfound-page/pull/200#discussion_r919228995

[2022-08-03 14:38] stonecharioteer opened #211 "Doesn't work with the Furo theme"
Hi, thanks for this project. I've been trying to use this with the Furo theme, but it hasn't been working. It's live [on my website right now.](https://stonecharioteer.com/doesnt-exist).

Am I doing something wrong though? My [conf is here.](https://github.com/stonecharioteer/blog/blob/master/source/conf.py).

[2022-08-03 14:48] stsewd commented on #211
Hi, your project is single version, so you need to change this setting https://sphinx-notfound-page.readthedocs.io/en/latest/configuration.html#confval-notfound_urls_prefix to `None`.

[2022-08-04 06:29] stonecharioteer commented on #211
Hi @stsewd Thanks for getting back to me. I changed it, and it didn't work. Is there something else I'm missing?

[2022-08-04 06:33] stonecharioteer commented on #211
Thank you @stsewd! That worked.

[2022-08-04 06:33] #211 closed

[2022-08-29 15:13] humitos opened #214 "Read the Docs one `/_/` special URLs"
If you go to https://docs.readthedocs.io/en/stable/notfound and open the Javascript console you will see that the file `https://docs.readthedocs.io/en/stable/_/static/javascript/readthedocs-doc-embed.js` returned 404. For some reason, this URL is being changed when it should not.

The valid URL for this case is `https://docs.readthedocs.io/_/static/javascript/readthedocs-doc-embed.js`. Note that i

[2022-08-29 15:21] humitos commented on #214
I suppose the URL injected by Read the Docs may be relative and that's why it's not working...

I checked for this in the source code and I found the following:

1. https://github.com/rtfd/readthedocs-sphinx-ext/blob/673fbb09a5d268e73bf79da4cee3a193eab115a0/readthedocs_ext/readthedocs.py#L82
2. https://github.com/readthedocs/readthedocs.org/blob/3b487c9877f91e2e67eb9854729608233959d29d/readthedocs